<section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center order-lg-2">
                            <div class="card-profile-image">
                                <img src="./assets/images/error.jpg" style="height: 25rem;" class="rounded-circle">
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 text-center" style="margin-top: 180px;">
                            <h6>We couldn't find the page you're looking for, head home maybe?</h6>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="text-center mt-5 pb-5">
                                <button class="btn btn-primary" [routerLink]="['/']">
                                    Go home
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>