<nb-card>
    <nb-card-header>

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
 
            <mat-form-field class="form-group">
                <input matInput formControlName="Manufacturer"  type="text" placeholder="Manufacturer Name">
                <mat-error *ngIf="
                controlHasError('Manufacturer','required') ||
                controlHasError('Manufacturer', 'pattern')"
                ><strong> Manufacturer Name is required </strong></mat-error>
            </mat-form-field>
       
            <mat-form-field class="form-group">
                <input matInput  formControlName="Model" type="text" placeholder="Model Name">
                <mat-error *ngIf="
                controlHasError('Model','required') ||
                controlHasError('Model', 'pattern')"
                ><strong> Model Name is required </strong></mat-error>
            </mat-form-field>
       
            <mat-form-field class="form-group">
                <input formControlName="Plate" matInput  placeholder="Plate number">
                <mat-error *ngIf="
                controlHasError('Plate','required') ||
                controlHasError('Plate', 'pattern')"
                ><strong> Plate number is required </strong></mat-error>
                <!-- <mat-error *ngIf="
                controlHasError('Plate','required')"
                ><strong> Model Name is required </strong></mat-error> -->
            </mat-form-field>
       
            <mat-form-field class="form-group">
              <mat-select placeholder="Special Needs "  formControlName="SpecialNeeds"    class="filter-select" >
                 <mat-option *ngFor= "let option of specialNeeds"  [value]= option>
                   {{option}}
                  </mat-option>
              </mat-select>
       
              <mat-error    *ngIf="controlHasError('SpecialNeeds', 'required') ||
                
        controlHasError('SpecialNeeds', 'required')">
                  <strong > Please select an option</strong>
                  </mat-error>
            </mat-form-field>
      
      
      
      
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date"   formControlName="Disc">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
       
            <mat-error    *ngIf="controlHasError('Disc', 'required') ||
            controlHasError('Disc', 'required')">
            <strong > Disc Expiration Date is required  </strong>
            </mat-error>
          </mat-form-field>
      
      
      
           </form>
    </nb-card-body>
</nb-card>