<header>
  <h6 class="header">Welcome to FueledUp</h6>
  <h6 class="sub-header">Already have an account? <a [routerLink]="['../login']">Login here</a></h6>
</header>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Admin registration">
    
    
    <div class="row pt-2">
      <div class="col">
          <form [formGroup]="form" (ngSubmit)="submit()">
              <mat-form-field>
                <input formControlName="name" matInput  placeholder="Name" type="text" />
                <mat-error *ngIf="
                    controlHasError('name', 'required') ||
                    controlHasError('name', 'pattern')
                  ">
                  <strong>Your name is required</strong>
                </mat-error>
                <mat-error *ngIf="
                    controlHasError('name', 'invalidName')
                  ">
                  <strong>Please enter your first and last name seperated by a space</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="email"  placeholder="Email" type="email" />
      
                <mat-error *ngIf="controlHasError('email', 'email')">
                  <strong>Please provide a valid email address</strong>
                </mat-error>
                <mat-error *ngIf="controlHasError('email', 'required')">
                  <strong>
                    Your email is required
                  </strong>
                </mat-error>
              </mat-form-field>
    
              <mat-form-field>
                <input matInput formControlName="password"  placeholder="Password" type="password" />
                <mat-error *ngIf="controlHasError('password', 'required')">
                  <strong>
                    Your password is required
                  </strong>
                </mat-error>
                <mat-error *ngIf="controlHasError('password', 'minlength')">
                  <strong>
                    Password needs to be atleast {{passwordMinLength}} characters long
                  </strong>
                </mat-error>
              </mat-form-field>
      
              <mat-form-field>
                <input name="companyName" autocomplete="false" aria-autocomplete="false" matInput formControlName="companyName"
                  
                    placeholder="Company name" type="text" />
      
                <mat-error *ngIf="controlHasError('companyName', 'required')">
                  <strong>Provide a valid name for your company</strong>
                </mat-error>
              </mat-form-field>
      
              <div class="form-group">
                <button class="big" mat-flat-button mat-button color="primary">SIGN UP</button>
              </div>
              
            </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Client registration">
    <div class="row pt-2">
      <div class="col">
        <form [formGroup]="clientForm" (ngSubmit)="submitClient()">
          <mat-form-field>
            <input formControlName="code" matInput  placeholder="Driving school ID" type="text" />
            <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>don't know what this is? contact your administrator</mat-hint>
            <mat-error *ngIf="
                clientControlHasError('code', 'required') ||
                clientControlHasError('code', 'pattern')
              ">
              <strong>Please enter your institution code</strong>
            </mat-error>
            <mat-error *ngIf="
                clientControlHasError('code', 'minlength')||
                clientControlHasError('code', 'maxlength')
              ">
              <strong>The code has to be 8 characters long</strong>
            </mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input formControlName="name" matInput name="name" placeholder="Name" type="text" />
            <mat-error *ngIf="
                clientControlHasError('name', 'required') ||
                clientControlHasError('name', 'pattern')
              ">
              <strong>Your name is required</strong>
            </mat-error>
            <mat-error *ngIf="
                    controlHasError('name', 'invalidName')
                  ">
                  <strong>Please enter your first and last name seperated by a space</strong>
                </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input name="idnum" autocomplete="false" aria-autocomplete="false" matInput formControlName="idnum"
              
                placeholder="ID Number" type="text" />
    
            <mat-error *ngIf="clientControlHasError('idnum', 'required')">
              <strong>Your identity number is required</strong>
            </mat-error>
            <mat-error *ngIf="clientControlHasError('idnum', 'pattern')">
              <strong>Invalid characters in your identity number</strong>
            </mat-error>
            <mat-error *ngIf="
              clientControlHasError('idnum', 'maxlength') ||
              clientControlHasError('idnum', 'minlength')
            ">
            <strong>Your identity number needs to be 13 digits long</strong>
          </mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput mask="000-000-0000" [showMaskTyped]="false" formControlName="phone" class="form-control"
              placeholder="Phone number" type="text" />
            <mat-error *ngIf="
                clientControlHasError('phone', 'required') ||
                clientControlHasError('phone', 'pattern')
              ">
              <strong>Please provide a valid phone number</strong>
            </mat-error>
    
            <mat-error *ngIf="
                clientControlHasError('phone', 'maxlength') ||
                clientControlHasError('phone', 'minlength')
              ">
              <strong>Your phone number needs to be 10 digits long</strong>
            </mat-error>
          </mat-form-field>

          <div class="form-group">
            <label id="genderLabel">Gender:</label>
            <mat-radio-group formControlName="gender" aria-labelledby="genderLabel" class="radio-group">
              <mat-radio-button class="radio-option" *ngFor="let option of (appInfo$|async).genderOptions" [value]="option.id">{{option.name | titlecase}}</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="clientControlHasError('gender', 'required')">
              <strong>
                Please choose an option
              </strong>
            </mat-error>
          </div>

          <div class="form-group">
            <label id="needLabel">Any special need we should know about?</label>
            <mat-radio-group formControlName="hasSpecialNeed" aria-labelledby="needLabel" class="radio-group">
              <mat-radio-button (change)="specialNeedsChange($event)" class="radio-option" [value]="true">Yes</mat-radio-button>
              <mat-radio-button (change)="specialNeedsChange($event)" class="radio-option" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="clientControlHasError('hasSpecialNeed', 'required')">
              <strong>
                Please choose an option
              </strong>
            </mat-error>
          </div>

          <mat-form-field appearance="fill" *ngIf="specialNeed">
            <mat-label>Special Need</mat-label>
            <mat-select formControlName="specialNeed" name="need">
              <mat-option>Pick One</mat-option>
              <mat-option *ngFor="let option of (appInfo$|async).specialNeeds" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput formControlName="email"  placeholder="Email" type="email" />
    
            <mat-error *ngIf="clientControlHasError('email', 'email')">
              <strong>Please provide a valid email address</strong>
            </mat-error>
            <mat-error *ngIf="clientControlHasError('email', 'required')">
              <strong>
                Your email is required
              </strong>
            </mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput formControlName="password"  placeholder="Password" [type]="showPassword ? 'text': 'password'" />
            <mat-icon (click)="togglePassword()" matSuffix>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="clientControlHasError('password', 'required')">
              <strong>
                Your password is required
              </strong>
            </mat-error>
            <mat-error *ngIf="clientControlHasError('password', 'minlength')">
              <strong>
                Password needs to be atleast {{passwordMinLength}} characters long
              </strong>
            </mat-error>
          </mat-form-field>

         

          <mat-form-field>
            <input name="address" autocomplete="false" aria-autocomplete="false" matInput formControlName="address"
              ngx-google-places-autocomplete [options]="mapsOptions" #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Address" type="text" />
  
            <mat-error *ngIf="clientControlHasError('address', 'required')">
              <strong>Please provide a valid address</strong>
            </mat-error>
          </mat-form-field> 
    
          
    
          <div class="form-group">
            <button class="big" mat-flat-button mat-button color="primary">SIGN UP</button>
          </div>
          
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>





