<nb-card>
    <nb-card-header>
        <h6 class="dash-header">
            {{isEditing? 'Update': 'New'}} lesson task
        </h6>
    </nb-card-header>
    <nb-card-body>
        <div class="dash-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field>
                    <input formControlName="name" matInput  placeholder="Name" type="text" />
                    <mat-error *ngIf="
                        controlHasError('name', 'required')
                      ">
                      <strong>Name is required</strong>
                    </mat-error>
                  </mat-form-field>
    
                  <mat-form-field>
                    <textarea formControlName="desc" matInput  placeholder="Description here" type="text" ></textarea>
                    <mat-error *ngIf="
                        controlHasError('desc', 'required')
                      ">
                      <strong>Description is required</strong>
                    </mat-error>
                  </mat-form-field>

                  <div class="form-group">
                    <button mat-flat-button color="primary" class="f-r">{{isEditing ? 'save changes' :'submit'}}</button>
                  </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>