
<header>
    <h6 class="header">Reset Password</h6>
    <h6 class="sub-header"><a [routerLink]="['/auth/login']">back to login</a></h6>
</header>

<div class="row pt-2">
  <div class="col">
      <form #formDir="ngForm" [formGroup]="form" (ngSubmit)="submit()">

          <mat-form-field>
              <input matInput formControlName="email"  placeholder="Email" type="email" />
    
              <mat-error *ngIf="controlHasError('email', 'email')">
                <strong>Please provide a valid email address</strong>
              </mat-error>
              <mat-error *ngIf="controlHasError('email', 'required')">
                <strong>
                  Your email is required
                </strong>
              </mat-error>
            </mat-form-field>
      
          <div class="form-group">
              <button class="big" mat-raised-button color="primary">send reset link</button>
          </div>
      </form>
  </div>
</div>