<nb-card>
  <nb-card-header>
    <h6 class="dash-header">all vehicles</h6>
    <!-- <button mat-flat-button color="primary" class="f-r" (click)="add()">Add Vehicle</button> -->
  </nb-card-header>    
  <nb-card-body>
    <div  align="end">
      
      </div>
      <mat-form-field>
        <mat-label>Search...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by Manufacturer">
      </mat-form-field>
       
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
       
        <ng-container matColumnDef="VehicleID">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.VehicleID}} </td>
        </ng-container>
       
         <!-- Name Column -->
         <ng-container matColumnDef="ManufacturerName">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Manufacturer Name </th>
          <td mat-cell *matCellDef="let element;"> {{element.ManufacturerName}} </td>
        </ng-container>
       
        <ng-container matColumnDef="ModelName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
          <td mat-cell *matCellDef="let element"> {{element.modelName}} </td>
        </ng-container>
       
        <ng-container matColumnDef="plate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Plate </th>
          <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
        </ng-container>
       
        <ng-container matColumnDef="discExpiry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Disc Expiry Date </th>
          <td mat-cell *matCellDef="let element"> {{element.discExpiry.toDate() | date}} </td>
        </ng-container>
       
        <ng-container matColumnDef="SpecialNeeds">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Special Needs </th>
          <td mat-cell *matCellDef="let element"> {{element.SpecialNeeds}} </td>
        </ng-container>
       
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element; let i = index">
              <button mat-button mat-flat-button color="primary" class="action-button" (click)="edit(element)" size="small" status="info">edit</button>
              <button mat-button mat-flat-button color="warn" class="action-button" size="small" (click)="view(element)" status="success">view</button>
              <button mat-button mat-flat-button color="accent" class="action-button" size="small" (click)="delete(element)" status="danger">delete</button>
          </td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
      </table>
       
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </nb-card-body>
</nb-card>